Body {
  margin-left: 10px;
  color: rgb(252, 252, 252);
  background-color: #593800;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  padding: 40px;
  font-family: "Arial", Times, serif;
  
}
h1 {
  padding-top: 36px;
  padding-bottom: 12px;
  color: rgb(20, 6, 145);
  }

/* .space */ 

.toDolist {  
  width: 337px;
  height: 500px; 
  padding: 17px;
  background-image: url("notepad.png");
  opacity: 0.95;
  box-shadow: 10px 20px 20px black;

  font-family: "Lucida Handwriting", "Papyrus", "Brush Script MT", "Arial";
  line-height: 33.4px;
  color: rgb(20, 6, 145);
}

ul {
  text-align: center;
  padding-left: 0px;
  list-style: none;
  font-size: 20px;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.trashcan {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
