Body {
  font-family: "Lucida Handwriting", "Comic sans MS", "Brush Script MT", "Arial";
  margin: auto;
  background-color: #593800;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  padding: 40px;
  font-family: "Arial", Times, serif;
  text-align: center;
  color: rgb(252, 252, 252);
}
h1 {
  padding-top: 36px;
  padding-bottom: 12px;
  color: rgb(20, 6, 145);
}

.toDolist {
  max-width: 337px;
  height: 500px;
  margin: auto;
  padding: 17px;
  background-image: url("notepad.png");
  background-repeat: repeat-y;

  opacity: 0.95;
  box-shadow: 10px 20px 20px black;

  font-family: "Lucida Handwriting", "Comic sans MS", "Brush Script MT", "Arial";
  line-height: 33.4px;
  color: rgb(20, 6, 145);
}

.toDos {
  font-family: "Lucida Handwriting", "Comic sans MS", "Brush Script MT", "Arial";
  vertical-align: bottom;
  font-size: 15px;
}

ul {
  text-align: center;
  padding-left: 0px;
  list-style: none;
  font-size: 20px;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.trashcan {
  vertical-align: middle;
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
  color: gray;
}

li:hover {
  text-shadow: 1px 1px 2px gray;
}

.trashcan:hover {
  vertical-align: middle;
  text-shadow: 0px 0px 0px white;
  font-size: 26px;
  color: red;
}
